{% include "common/base.html" %}

<!--{% if expired or unexpired %}-->
<!--    <ul>-->
<!--    {% for url in unexpired %}-->
<!--        <li>-->
<!--        <p>   <a href="/shrt/{{ url.hash }}/">{{request.get_host}}/shrt/{{ url.hash }}</a>-->
<!--            by {{ url.owner.username}} </p>-->
<!--            <p>Original Url: <a href="{{url.original_url}}">{{url.original_url}}</a></p>-->
<!--            <a href="{% url 'shortener:edit' url.hash%}">Edit</a></p>-->
<!--            <p>Expires at: {{url.expiration_date}}</p>-->
<!--            <p>{{url.clicked}} clicks</p>-->
<!--        </li>-->
<!--    {% endfor %}-->
<!--        {% if expired %}-->
<!--        <h2>Expired: </h2>-->
<!--        {% endif %}-->
<!--     {% for url in expired %}-->
<!--        <li>-->
<!--        <p>   <a href="/shrt/{{ url.hash }}/">{{request.get_host}}/shrt/{{ url.hash }}</a>-->
<!--            by {{ url.owner.username}} </p>-->
<!--            <p>Original Url: <a href="{{url.original_url}}">{{url.original_url}}</a></p>-->
<!--            <a href="{% url 'shortener:edit' url.hash%}">Edit</a></p>-->
<!--            <p>Expired at: {{url.expiration_date}}</p>-->
<!--            <p>{{url.clicked}} clicks</p>-->
<!--        </li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--{% else %}-->
<!--    <p>You have no short urls</p>-->
<!--{% endif %}-->


<div class="container ml-0 col-12">
{% if expired or unexpired %}

{% if unexpired %}
    <table class="table">
       <caption style="caption-side: top">Unexpired</caption>
      <thead>
        <tr>
          <th scope="col">Short url</th>
          <th scope="col"></th>
          <th style="width:50%;" scope="col">Original url</th>
          <th scope="col">Expires at</th>
          <th scope="col">Clicks</th>
        </tr>
      </thead>
      <tbody>
        {% for url in unexpired %}
        <tr>
          <td>
              <a href="/shrt/{{ url.hash }}/" id="{{url.hash}}"> {{request.get_host}}/shrt/{{ url.hash }}</a>
         </td>
            <td>
              <a href="{% url 'shortener:edit' url.hash %}"><button type="button" class="btn btn-xs btn-outline-primary">Edit</button></a>
              <button type="button" class="btn btn-xs btn-primary" onclick="copyToClipboard('{{url.hash}}')">Copy</button>

            </td>
           <td><a href="{{url.original_url}}">{{url.original_url}}</a></td>
          <td>{{url.expiration_date}}</td>
          <td>{{url.clicked}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}

{% if expired %}
    <table class="table">
       <caption style="caption-side: top">Expired</caption>
      <thead>
        <tr>
          <th scope="col">Short url</th>
          <th scope="col">Original url</th>
          <th scope="col">Expires at</th>
          <th scope="col">Clicks</th>
        </tr>
      </thead>
      <tbody>
        {% for url in expired %}
        <tr>
          <td>
              <a href="/shrt/{{ url.hash }}/" id="{{url.hash}}"> {{request.get_host}}/shrt/{{ url.hash }}</a>
         </td>
            <td>
              <a href="{% url 'shortener:edit' url.hash %}"><button type="button" class="btn btn-xs btn-outline-primary">Edit</button></a>
              <button type="button" class="btn btn-xs btn-primary" onclick="copyToClipboard('{{url.hash}}')">Copy</button>

            </td>
           <td><a href="{{url.original_url}}">{{url.original_url}}</a></td>
          <td>{{url.expiration_date}}</td>
          <td>{{url.clicked}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}

{% else %}
    <p>You have no short urls.</p>
{% endif %}

</div>