{% include "common/base.html" %}

<div class="container ml-0 col-12">
{% if  url_list %}

{% if url_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Short url</th>
          <th scope="col"></th>
          <th style="width:50%;" scope="col">Original url</th>
          <th scope="col">Expires at</th>
          <th scope="col">Clicks</th>
        </tr>
      </thead>
        {% if page_obj.number > 2 %}
            <a class = "ml-2 mr-2" href={% url 'shortener:show_page' 1 %}><<</a>
        {% endif %}
        {% if page_obj.has_previous %}
            <a class = "ml-2 mr-2" href={% url 'shortener:show_page' page_obj.previous_page_number %}>{{page_obj.previous_page_number}} </a>
        {% endif %}
        <span class="ml-2 mr-2">{{  page_obj.number }}</span>
        {% if page_obj.has_next %}
            <a class = "ml-2 mr-2" href={% url 'shortener:show_page' page_obj.next_page_number %}>{{ page_obj.next_page_number}}</a>
        {% endif %}
        {% if page_obj.number != page_obj.paginator.num_pages %}
            <a class = "ml-2 mr-2" href={% url 'shortener:show_page' page_obj.paginator.num_pages %}>>></a>
        {% endif %}
      <tbody>
        {% for url in url_list %}
        <tr>
          <td>
              <a href="/shrt/{{ url.hash }}/" id="{{url.hash}}"> {{request.get_host}}/shrt/{{ url.hash }}</a>
         </td>
            <td>
              <a href="{% url 'shortener:edit' url.hash %}"><button type="button" class="btn btn-xs btn-outline-primary">Edit</button></a>
              <button type="button" class="btn btn-xs btn-primary" onclick="copyToClipboard('{{url.hash}}')">Copy</button>

            </td>
           <td><a href="{{url.original_url}}">{{url.original_url}}</a></td>
          <td>{{url.expiration_date}}</td>
          <td>{{url.clicked}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}

{% comment %}{% if expired %}
    <table class="table">
       <caption style="caption-side: top">Expired</caption>
      <thead>
        <tr>
          <th scope="col">Short url</th>
            <th scope="col"></th>
          <th style="width:50%;" scope="col">Original url</th>
          <th scope="col">Expires at</th>
          <th scope="col">Clicks</th>
        </tr>
      </thead>
      <tbody>
        {% for url in expired %}
        <tr>
          <td>
              <a href="/shrt/{{ url.hash }}/" id="{{url.hash}}"> {{request.get_host}}/shrt/{{ url.hash }}</a>
         </td>
            <td>
              <a href="{% url 'shortener:edit' url.hash %}"><button type="button" class="btn btn-xs btn-outline-primary">Edit</button></a>
              <button type="button" class="btn btn-xs btn-primary" onclick="copyToClipboard('{{url.hash}}')">Copy</button>

            </td>
           <td><a href="{{url.original_url}}">{{url.original_url}}</a></td>
          <td>{{url.expiration_date}}</td>
          <td>{{url.clicked}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}{% endcomment %}

{% else %}
    <p>You have no short urls.</p>
{% endif %}

</div>