<style>
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
</style>

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><body style="background-color: #f8fafc;">

<nav class="navbar navbar-expand navbar-light bg-light mt-0" style="height:66px">
      <a class="navbar-brand" href="{% url 'paste:show_all' %}">Shurl & Paste</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-20">
      <li class="nav-item mr-2">
        <a href="{% url 'paste:create' %}" style="text-decoration:none" class="btn btn-success">Create paste</a>
     </li>
      <li class="nav-item ml-2 mt-0 ml-0">
        <a href="{% url 'shortener:create' %}" style="text-decoration:none" class="btn btn-info">Create short url</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mt-0">
      {% if request.user.is_authenticated %}

          <li class="nav-item dropleft">
            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdownMenuLink_avatarMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              {% if request.user.profile.avatar %}
                <img class="avatar" src="{{request.user.profile.avatar.url}}">
              {% else %}
                <img class="m-0 avatar" src="/media/images/default.jpg">
              {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_avatarMenu">
              <a class="dropdown-item" href="{% url 'paste:show_my_pastes' %}">My pastes</a>
              <a class="dropdown-item" href="{% url 'shortener:show' %}">My urls</a>
              <a class="dropdown-item" href="{% url 'common:detail_profile' %}">My profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'common:logout' %}">Logout</a>
            </div>
          </li>
      {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'common:register' %}">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'common:login' %}">Log in</a>
          </li>
      {% endif %}
    </ul>

  </div>
</nav>
