{% include "common/base.html" %}
{% load widget_tweaks %}

<div class="container ml-4 col-3">

<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}

{%for error in form.non_field_errors%}
    <p style="color:red">{{error}}</p>
{% endfor %}

<fieldset>
{% for field in form %}
<div class="form-group">
    <label class="control-label">{{field.name | title}}: </label>
     {% if field.name != "avatar" %}
    <div class = "controls">
        {% if field.name != "avatar" %}
        {% else %}
        {% render_field field %}
        {% endif %}
    </div>
    <p>{{field.errors}}</p>
</div>
{% endfor %}
<input type="submit" value="Submit">

</fieldset>
<!--    <input type="hidden" name="_method" value="delete">-->
<!--    <input type="submit" value="Delete">-->

</form>

</div>