{% load widget_tweaks %}

{% include "common/base.html" %}

<form hidden enctype="multipart/form-data" id="editForm" action="" method="post">{% csrf_token %}</form>

<div class="container ml-0 col-8">

{%for error in form.non_field_errors%}
    <p style="color:#ff0000">{{error}}</p>
{% endfor %}

{% for field in form %}
    <div class="form-group col-6">
    <label class="control-label"  for="{{field.name}}">{{field.label}}</label>
<!--    <p class="mb-0">{% render_field field.label%}: </p>-->
    <div class="controls">
        {% if field.label == "avatar" %}
    {% render_field field class+="form-control" form+="editForm"%}
        {% else %}
        {% render_field field form+="editForm"%}
        {% endif %}
    </div>
</div>
{% endfor %}
    <div class="form-group row ml-0 col-6">
        <div class="">
            <button class="btn btn-primary" form="editForm" type="Submit">Submit</button>
        </div>
    </div>

</div>
