{% include "common/base.html" %}

{% load widget_tweaks %}

{{ form.non_field_errors }}

<div class="container mt-4 col-3">
  {{ form.non_field_errors }}
  <form class="" action='' method="POST"> {% csrf_token %}
    <div class = "card">
      <div class = "card-body">
  <fieldset>
    <div id="legend">
      <legend class="text-center">Register</legend>
    </div>
    <div class="form-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
      {% render_field form.username class+="form-control"%}
      </div>
      {% for error in form.username.errors %}
       <p style="color: red">{{error}}</p>
      {% endfor %}
    </div>

    <div class="form-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        {% render_field form.email class+="form-control"%}
      </div>
      {% for error in form.email.errors %}
       <p style="color: red">{{error}}</p>
      {% endfor %}
    </div>

    <div class="form-group">
      <!-- Password-->
      <label class="control-label" for="password1">Password</label>
      <div class="controls">
        {% render_field form.password1 class+="form-control"%}
      </div>
      {% for error in form.password1.errors %}
       <p style="color: red">{{error}}</p>
      {% endfor %}
    </div>

    <div class="form-group">
      <!-- Password-->
      <label class="control-label" for="password2">Confirm</label>
      <div class="controls">
        {% render_field form.password2 class+="form-control"%}
      </div>
      {% for error in form.password2.errors %}
      <p style="color: red">{{error}}</p>
      {% endfor %}
    </div>

    <div class="form-group text-center">
        <button class="btn btn-primary col-12">Submit</button>
    </div>

  </fieldset>
      </div>
    </div>
</form>
</div>