{% load widget_tweaks %}

{% include "common/base.html" %}

<div class="container ml-0 col-8">
<form class="" action="" method="POST"> {% csrf_token %}

{%for error in form.non_field_errors%}
    <p style="color:#ff0000">{{error}}</p>
{% endfor %}

{% for field in form %}
<div class="form-group col-6">
    {% if field.label == "Name" %}
    <label class="control-label"  for="{{field.name}}">{{field.label}}</label>
    <div class="controls">
    {% render_field field class+="form-control"%}
    </div>
    {% else %}
    <div class="form-check">
    {% render_field field class+="form-check-input" %}
    <label class="form-check-label">
        <a href="{% url 'paste:edit' field.name %}"> {{field.label}} </a>
    </label>
    </div>
    {% endif %}
</div>
{% endfor %}
    <div class="form-group col-3">
        <button class="btn btn-primary">Create</button>
    </div>
</form>
</div>