{% include "common/base.html" %}

<div class = "container ml-0 col-12">

{% if paste_list %}
    <table class="table col-12">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Owner</th>
          <th scope="col">Created</th>
          <th scope="col">Syntax</th>
        </tr>
      </thead>
      <tbody>
        {% for paste in paste_list %}
        <tr>
          <td><a href="/paste/{{ paste.hash }}/">{{ paste.title }}</a></td>
           <td>{% if paste.owner %} {{paste.owner.username}}
                {% else %} Anonymous {% endif %}</td>
          <td>{{paste.creation_date}}</td>
          <td>{{paste.syntax}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% else %}
    <p>No pastes are available.</p>
{% endif %}

<form action="" method="POST"> {% csrf_token %}
    <input type="hidden" name="_method" value="delete">
    <div class="ml-2">
        <button class="btn btn-danger">Delete folder</button>
    </div>
</form>


</div>