{% load widget_tweaks %}

<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
<style>
    .hljs { max-height: 500px }
</style>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% include "common/base.html" %}

<form hidden id="codeForm" action="{% url 'compiler:compile_form' %}" method="post">{% csrf_token %}</form>

<div class="container ml-0 col-12">
<form class="" action=""> {% csrf_token %}

{% for field in form %}
    {% if field.label != "Catalog" %}
    {% if field.label != "Text" %}
    <div class="form-group col-4">
        {% else %}
<div class="form-group col-12">
     {% endif %}
    <label class="control-label"  for="{{field.name}}">{{field.label}}</label>
<!--    <p class="mb-0">{% render_field field.label%}: </p>-->

    <div class="controls">
        {% if field.label != "Text" %}
            {{field | add_class:"form-control"|attr:"readonly" }}
        {% else %}
            <pre><code class="{{form.syntax}}">{{field.value}}</code></pre>
            <div class="controls" style="max-height: 200px;">
                <button type="button" class="btn btn-primary mr-2" onclick="copyToClipboard('raw_paste')">Copy</button>

                {% if form.instance.syntax.name == 'C++' %}
                    <button class="btn btn-dark mr-2" type="submit" form="codeForm">Go to compiler</button>
                {% endif %}

                <a href="{% url 'paste:download' form.instance.hash %}">Download as text</a>

                <textarea hidden name="code" form="codeForm" style="max-height: 200px;">{{ field.value }}</textarea>

            </div>
            <div style="display: none">
            <label class="control-label"  for="">Raw text</label>
            <textarea id="raw_paste" style="height:300px; width: 100%;">{{field.value}}</textarea>
            </div>
        {% endif %}
    </div>
</div>
        {%endif%}
{% endfor %}
</form>

{% if request.user == form.instance.owner %}
<div class="col-6 mb-2"><a href="{% url 'paste:edit' form.instance.hash %}">edit my paste</a></div>
{% endif %}

</div>