{% include "common/base.html" %}



{% if paste_list or catalog_list %}

    <ul>
    {% for catalog in catalog_list %}
        <li> Folder with {{catalog.paste_set.all | length}} pastes: <a href="{% url 'paste:detail_catalog' catalog.name %}">{{ catalog.name }}</a>
        </li>
    {% endfor %}
    </ul>

    <ul>
    {% for paste in paste_list %}
        <li><a href="/paste/{{ paste.hash }}/">{{ paste.title }}</a> by
            {% if paste.owner %} {{paste.owner.username}}
            {% else %} Anonymous {% endif %}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No pastes are available.</p>
{% endif %}

<form action="" method="POST"> {% csrf_token %}
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete folder">
</form>