<!--{% include "common/base.html" %}-->
<!--<form action="" method="POST"> {% csrf_token %}-->

<!--{%for error in form.non_field_errors%}-->
<!--    <p style="color:red">{{error}}</p>-->
<!--{% endfor %}-->

<!--{% for field in form %}-->
<!--<div>-->
<!--    <p>{{field.name}}: </p>-->
<!--    <p>{{field}}</p>-->
<!--</div>-->
<!--{% endfor %}-->
<!--<input type="submit" value="Submit">-->
<!--&lt;!&ndash;    <input type="hidden" name="_method" value="delete">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="submit" value="Delete">&ndash;&gt;-->

<!--</form>-->

<!--<form action="" method="POST"> {% csrf_token %}-->
<!--    <input type="hidden" name="_method" value="delete">-->
<!--    <input type="submit" value="Delete">-->
<!--</form>-->


{% load widget_tweaks %}

{% include "common/base.html" %}

<form id="editForm" action="" method="post"></form>
<form id="deleteForm" action="" method="post"></form>

<div class="container ml-0 col-8">
<form class="" action="" method="POST"> {% csrf_token %}

{%for error in form.non_field_errors%}
    <p style="color:#ff0000">{{error}}</p>
{% endfor %}

{% for field in form %}
    {% if field.label != "Text" %}
    <div class="form-group col-6">
        {% else %}
<div class="form-group col-12">
     {% endif %}
    <label class="control-label"  for="{{field.name}}">{{field.label}}</label>
<!--    <p class="mb-0">{% render_field field.label%}: </p>-->
    <div class="controls">
    {% render_field field class+="form-control"%}
    </div>
</div>
{% endfor %}
    <div class="form-group row ml-0 col-6">
        <div class="">
            <button class="btn btn-primary">Submit</button>
        </div>

        <form action="" method="POST"> {% csrf_token %}
            <input type="hidden" name="_method" value="delete">
            <div class="ml-2">
                <button class="btn btn-danger">Delete paste</button>
            </div>
        </form>
    </div>
</form>

</div>

