{% include "common/base.html" %}

<div class = "container ml-0 col-12">

{% url 'paste:show_page' page_obj.number as page_url %}

{% if paste_list or catalog_list %}

  {% if request.path != page_url %}
  <p>
    {% if catalog_list %}
  <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Show my folders
  </button>
    {% endif %}
    <a href="{% url 'paste:create_catalog' %}">
  <button class="btn btn-sm btn-primary" type="button">
    <b>+</b> folder
  </button>
      </a>
  </p>
    <ul class="list-group collapse" id="collapseExample">
    {% for catalog in catalog_list %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="{% url 'paste:detail_catalog' catalog.name %}">{{ catalog.name }}</a>
    <span class="badge badge-primary badge-pill">{{catalog.paste_set.all | length}} pastes</span>
  </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if paste_list %}
    <table class="table">
       <caption style="caption-side: top">Pastes
           {% if request.path == page_url %}
                {% if page_obj.has_previous %}
                    <a class = "ml-2 mr-2" href={% url 'paste:show_page' page_obj.previous_page_number %}>{{page_obj.previous_page_number}} </a>
                {% endif %}
                  <span class="ml-2 mr-2">{{  page_obj.number }}</span>
                {% if page_obj.has_next %}
                    <a class = "ml-2 mr-2" href={% url 'paste:show_page' page_obj.next_page_number %}>{{ page_obj.next_page_number}}</a>
                {% endif %}
           {%  else %}
               {% if page_obj.has_previous %}
                   <a class = "ml-2 mr-2" href={% url 'paste:show_my_page' page_obj.previous_page_number %}>{{page_obj.previous_page_number}} </a>
               {% endif %}
               <span class="ml-2 mr-2">{{  page_obj.number }}</span>
               {% if page_obj.has_next %}
                   <a class = "ml-2 mr-2" href={% url 'paste:show_my_page' page_obj.next_page_number %}>{{ page_obj.next_page_number}}</a>
               {% endif %}
           {% endif %}
       </caption>
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Owner</th>
          <th scope="col">Created</th>
          <th scope="col">Syntax</th>
        </tr>
      </thead>
      <tbody>
        {% for paste in paste_list %}
        <tr>
          <td><a href="{% url 'paste:detail' paste.hash %}">{{ paste.title }}</a></td>
           <td>{% if paste.owner %} {{paste.owner.username}}
                {% else %} Anonymous {% endif %}</td>
          <td>{{paste.creation_date}}</td>
          <td>{{paste.syntax}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      {% endif %}

{% else %}
    <p>No pastes are available.</p>
{% endif %}

</div>